* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
   background:transparent;
  /*background: linear-gradient(to right,#00ccff ,#99ff99);*/
/*  padding-top:0;
  padding-bottom:0;*/
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
  padding: 10px 5px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: red;
}

.header a.active {

  color: blue;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) 
{
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/*.login:hover 
{
  color:black;
}*/
.header.login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}
.sticky{
  position: fixed;
  top: 0;

}
.fixedw {
  position: fixed;
  bottom: 715px;
  right: 250px;

}

.fixed_footer {
  position: fixed;
  bottom: 0px;
/*  right: 250px;*/

}

footer {
  text-align: center;
  padding: 3px;
  background:transparent;
  color: Black;
  width: 100%;
}